html {
    scroll-behavior: smooth;
  }
body{
    width: 1349px;
    height: auto;
    background-color: palevioletred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}

.container header{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: rgb(224, 221, 221);
    font-size: 24px;
    font-weight: bold;
    color: rgb(143, 2, 2);
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}

.header .logo_name {
    height: inherit;
    display: flex;
    text-align: left;
    align-items: center;
    font-family: "Times New Roman", "Arial";
    justify-content: space-between;
    text-indent: 10%;
    padding: 0 0 0 5%;
}

.header .empty_space {
    flex: 1 1 0%;
    place-self: stretch;
}

.container .header .navbars{
    height: inherit;
    display: flex;
    flex-direction: row;
  /*  position: relative; */
    background-color: rgb(224, 221, 221);
    font-size: 14px;
    font-weight: bold;
    color: rgb(143, 2, 2);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 5%;
}

.container .header_space{
    height: 40px;
    padding: 10px;
}

.header .About_anchor_key {
    padding: 0 10px;
}

.header .Projects_anchor_key {
    padding: 0 10px;
}

.header .Skills_anchor_key {
    padding: 0 10px;
}

.header .Contact_anchor_key {
    padding: 0 10px;
}


.container .section{
    width: inherit;
}

.Spacer{
    height: 60px;
}

.container .sections .banner{
    width: inherit;
    height: 555px;
    display: flex;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    font-family: "Times New Roman", "Arial";
    justify-content: space-around;
    align-content: center;
    padding: 5% 20px;
}

.banner .banner_content{
    text-align: left;
    color: black;
    font-size: 25px;
    flex-basis: 40%;
    text-indent: 10%;
    padding: 5% ;
}
.profile_pic img{
    max-width: 100%;
    height: 450px;
}
.banner_content .profile_name{
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile_heading .role{
    color: #2107fd;

}

.container .sections .about{
    width: inherit;
    height: 555px;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 221, 221);
    font-size: 24px;
    font-weight: bold;
    color: black;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px;
}


.about .about_header{
    padding: 10px 10px;
}

.about .about_experience_info_blocks{
    width: inherit;
    height: 555px;
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 221, 221);
    font-size: 20px;
    font-weight: lighter;
    color: black;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}

.about .about_experience_info_blocks .about_info{
    text-align: left;
    color: black;
    flex-basis: 50%;
    padding: 2% ;
}

.about_info li{
    margin-bottom: 15px
}

.about .about_experience_info_blocks .experience_info{
    text-align: left;
    color: black;
    flex-basis: 50%;
    padding: 2% ;
}

.about .about_header .about_header_span{
    color: rgb(243 6 6);
}


.container .sections .projects{
    width: inherit;
    height: 1080px;
    display: grid;
    grid-template-columns: repeat(3,350px);
    row-gap: 5%;
    grid-template-rows: auto;
    flex-direction: column;
    background-color: rgb(224, 221, 221);
    font-size: 16px;
    font-weight: lighter;
    color: black;
    /* box-sizing: border-box; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0% 5%;
}

.projects .projectName{
    text-align: center;
    font-size: 18px;
}

.projects div{
    width: 350px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-sizing: border-box;
    padding: 5%;
}

.projects span{
    color: rgb(243 6 6);
}


.projects  img{ 
    width: 100%;
    height: 50%;
    border-radius: 5%;
}

span{
    color: rgb(243 6 6);
}

.container .sections .skills{
    width: inherit;
    height: 500px;
    background-color:  rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    color: black;
    /* box-sizing: border-box; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.skills .skillsHeading{
    text-align: center;
    font-size: 24px;
    padding: 10px 0px;
}

.container .sections .skills .skillsInformation{
    width: inherit;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4,150px);
    row-gap: 5%;
    grid-template-rows: auto;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: lighter;
    color: black;
    text-align: center;
    /* box-sizing: border-box; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0% 15%;
}


.skillsInformation div{
    width: 150px;
    height: 150px;
    background-color: rgb(224, 221, 221);
    border-radius: 5%;
    box-sizing: border-box;
    padding: 2%;
}


.skillsInformation img{
    width: 100%;
    height: 50%;
    border-radius: 5%;
}


.container .sections .contact{
    width: inherit;
    height: auto;
    background-color:  rgb(224, 221, 221);
    font-size: 24px;
    font-weight: bold;
    color: black;
    /* box-sizing: border-box; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.contact .contactHeading{
    text-align: center;
    font-size: 24px;
    padding: 10px 0px;
}

.contact .contactContent{
    width: inherit;
    height: 500px;
    display: flex;
    flex-direction: row;
    padding: 2% 20px;
}

.contactContent .contentInformation{
    color: black;
    font-size: 25px;
    flex-basis: 60%;
    text-indent: 10%;
}
.contactContent img{
    max-width: 100%;
    height: 500px;
}

.contactLogos{
    width: auto;
    height: auto;
    display: flex;
    font-size: 16px;
    padding: 5px 10%;
    flex-direction: row;
    justify-content: space-between;
}

.contactLogos img{
    width: 25px;
    height: inherit;
}

.contactLogos p{
    display: inline;
}

.contactLogo_1{
    width: 150px;
    background-color: #0e76a8;
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    padding: 5px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.contactLogo_2{
    width: 150px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    padding: 5px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.contactLogo_3{
    width: 150px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    padding: 5px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.contactForm form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 15px;
}
.contactForm form input{
    width: 60%;
    height: 30px;
    margin: 10px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    border-radius: 5px;
    border: none;
}

#contactFormMessage{
    height: 100px;
}

.contactForm form button{
    color: white;
    font-size: 20px;
    background-color: rgb(243 6 6);
    width: 60%;
    height: 40px;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    border-radius: 5px;
    border: none;
}