body{
    width: 1349px;
    height: 700px;
    background-color: palevioletred;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.container header{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: rgb(224, 221, 221);
    font-size: 24px;
    font-weight: bold;
    color: rgb(143, 2, 2);
    font-family: "Times New Roman", "Arial";
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}

.header .logo_name {
    height: inherit;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    text-indent: 10%;
    padding: 0 0 0 5%;
}

.header .empty_space {
    flex: 1 1 0%;
    place-self: stretch;
}

.container .header .navbars{
    height: inherit;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: rgb(224, 221, 221);
    font-size: 24px;
    font-weight: bold;
    color: rgb(143, 2, 2);
    font-family: "Times New Roman", "Arial";
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 5%;
}

.container .header_space{
    height: 40px;
    padding: 10px;
}

.header .About_anchor_key {
    padding: 0 10px;
}

.header .Projects_anchor_key {
    padding: 0 10px;
}

.header .Skills_anchor_key {
    padding: 0 10px;
}

.header .Contact_anchor_key {
    padding: 0 10px;
}


.container .section{
    width: inherit;
}

.container .sections .banner{
    width: inherit;
    height: 450px;
    display: flex;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    font-family: "Times New Roman", "Arial";
    justify-content: space-around;
    align-content: center;
    padding: 20px;
}

.banner .banner_content{
    text-align: left;
    color: black;
    font-size: 25px;
    flex-basis: 40%;
    text-indent: 10%;
    padding: 5% ;
}
.profile_pic img{
    max-width: 100%;
    height: 450px;
}
.banner_content .profile_name{
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile_heading .role{
    color: #2107fd;

}

.container .sections .about{
    width: inherit;
    height: 450px;
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 221, 221);
    font-size: 24px;
    font-weight: bold;
    color: rgb(143, 2, 2);
    font-family: "Times New Roman", "Arial";
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}